<%- include("partials/header.ejs") %>
<% if(locals.create){ %>
    <h1>Thanks for submitting your post!</h1>
    <p>You will be redirected shortly.</p>
    <!-- Create a header nav bar to navigate back home -->
     <script>
        setTimeout(function(){
            window.location.href="/";

        }, 3000);
    </script>
    
<% }else{ %>

    <h1>Welcome to the blog!</h1>
<h2>New Post:</h2>
<form action="/create" method="POST">
    <label for="title">Post Title</label><br>
    <input type="text" name="title"><br><br>

    <label for="body">Post Body</label><br>
    <textarea name="body"></textarea><br><br>

    <input type="submit" value="Save Post"><br><br>

    <div id="posts"> 
        <% posts.forEach(post => { %>
            <div class="post">
                <h2><%= post.title %></h2>
                <p><%= post.body %></p>
            </div>
        <% }) %>
    </div> 


</form>
<%} %>





<!-- Add the post list here. you will need to loop through the array  -->

<%- include("partials/footer.ejs") %>